/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

html,
body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, rgba(0,118,206,.7), rgba(0,118,206,.7)), url("../assets/img/intro_bg.jpg") center top no-repeat;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.primary-color {
  color: #0076ce !important;
}

.bg-color {
  background-color: #0076ce !important;
}

.cinza {
  background-color: #f7f7f7;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

#index-banner {
  padding-top: 10%;
}

#index-banner h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: white;
}

@media (max-width: 768px) {
  #index-banner h2 {
    font-size: 28px;
    line-height: 36px;
  }
}

#index-banner p {
  color: white;
  margin-bottom: 20px;
  padding: 0 15px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #index-banner p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.input-field>label {
  color: white !important;
}

.input-field .prefix {
  color: white !important;
}

.input-field {
  margin: 0 !important;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search] {
  background-color: white !important;
  border: none !important;
  border: 1px solid white !important;
  border-radius: 0 !important;
  outline: none !important;
  height: 2.5rem !important;
  width: 100% !important;
  font-size: 1rem !important;
  margin: 0 0 20px 0 !important;
  padding: 0 12px !important;
  box-shadow: none !important;
  box-sizing: border-box !important;
  transition: all 0.3s !important;
}

.btn {
  border-radius: 50px !important;
  padding: 0px 20px !important;
}

/* #video {
  padding-left: 20px; 
  padding-right: 20px;
  padding-bottom: 0;
  margin-bottom: 0px;
} */

/* #marcas {
  padding-top: 0;
}

#aplicativos {
  padding-bottom: 0px;
  margin-bottom: 0px;
} */

.input-field .prefix.active {
  color: #fff !important;
}

/* label focus color */
.input-field input:focus + label {
  color: #fff !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid #fff !important;
  box-shadow: 0 1px 0 0 #fff !important
}